body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: radial-gradient(#323358, #191A40);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Estilo para el contenedor del formulario */
.formulario {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 400px;
    margin-top: 50px;
}

.formulario h1 {
    text-align: center;
    padding: 0;
    border-bottom: 1px solid silver;
    color: #13166f;
    margin-bottom: 20px;
}

.formulario form {
    padding: 0;
    box-sizing: border-box;
}

.formulario .campo {
    position: relative;
    margin: 20px 0;
}

/* Estilo para las etiquetas "Usuario" y "Canción" */
.campo label {
    color: #adadad;
    font-size: 16px;
    margin-bottom: 5px;
}

.campo input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #adadad;
}

/* Estilo para los marcadores de posición */
.campo input::placeholder {
    color: #adadad;
    transition: color 0.9s;
}

/* Cambia el color del marcador de posición cuando el campo está enfocado */
.campo input:focus::placeholder {
    color: #323358;
}

/* Estilo para la barra inferior de la entrada de texto */
.campo input:focus {
    border-bottom: 2px solid #323358;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    border: 1px solid;
    background: #191A40;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: .5s;
}

button[type="submit"]:hover {
    background: #323358;
    border-color: #323358;
}

/* Estilo para el contenedor de registros */
.registros {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 66%; /* Ancho aumentado para que los registros quepan en una línea */
    margin-top: 20px;
}

/* Estilo para el título de registros */
.registros h2 {
    text-align: center;
    padding: 0;
    border-bottom: 1px solid silver;
    color: #13166f;
    margin-bottom: 20px;
}

/* Estilo para los elementos de la lista de registros */
.registros li {
    font-size: 16px;
    color: black;
    white-space: nowrap; /* Evita saltos de línea */
    overflow: hidden; /* Oculta el texto que no cabe */
    text-overflow: ellipsis; /* Muestra puntos suspensivos en caso de recorte */
    margin-bottom: 10px;
}

/* Estilo para los botones de editar y eliminar en la lista de registros */
.registros button {
    background: #191A40;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    outline: none;
}

.registros button:hover {
    background: #323358;
}
